@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Ubuntu&display=swap");
#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 2rem 10vw;
  top: 0;
  width: 100%;
  height: 6vh;
}
#nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  background-color: transparent;
}
#nav ul li {
  background-color: transparent;
}
#nav ul li:hover {
  color: #ffc86a;
}

#nav-mobile {
  display: none;
  padding: 1rem 10vw;
  cursor: pointer;
  position: fixed;
  top: 0;
  width: 100%;
  height: 8vh;
  margin: auto 0;
  text-align: right;
}
#nav-mobile ul {
  list-style: none;
  background-color: transparent;
}
#nav-mobile ul li {
  background-color: transparent;
}
#nav-mobile ul li:hover {
  color: #ffc86a;
}
#nav-mobile ul li {
  margin-top: 1rem;
}

#mobile-menu {
  display: none;
}

/* Extra Small Devices (Phones) */
@media only screen and (max-width: 576px) {
  /* CSS Rules */
  #nav {
    display: none;
  }
  #nav-mobile {
    display: flex;
    justify-content: space-between;
  }
}
#about {
  padding: 6rem 10vw 4rem 10vw;
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;
}
#about #summary {
  font-size: 1.5rem;
}
#about #summary span {
  display: inline-block;
  padding: 0;
  font-size: 3rem;
  color: #ffc86a;
  font-family: "Roboto Slab", serif;
}
#about #summary h2 {
  font-size: 1.5rem;
  padding-top: 0.7rem;
}
#about #summary button {
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: solid #ffc86a 0.3rem;
  font-size: 1rem;
  color: black;
}
#about #summary button:hover {
  cursor: pointer;
  background-color: #ffc86a;
  color: #fff;
}
#about #social {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#about #social .vertical-line {
  width: 4px;
  height: 6rem;
  background-color: #ffc86a;
  margin: 0 auto;
}
#about #social i {
  font-size: 1.5rem;
  padding-right: 0.5rem;
  cursor: pointer;
}
#about #social a img {
  cursor: pointer;
}

#social a i:hover {
  color: #ffc86a;
}

#social a svg:hover {
  fill: #ffc86a;
}

#about-summary {
  padding: 4rem 10vw;
  background-color: #fff3e0;
}
#about-summary h1 {
  font-size: 2rem;
  font-family: "Roboto Slab", serif;
}
#about-summary .summary-profile {
  display: flex;
  margin-top: 1rem;
  background-color: transparent;
}
#about-summary hr {
  width: 4rem;
  border: none;
  margin: 0.7rem 0.7rem 0.7rem 0;
  border-top: 0.2rem solid #ffc86a;
  background-color: transparent;
}

@media only screen and (max-width: 576px) {
  #about {
    padding: 2rem 10vw;
  }
}
#my-skills {
  padding: 6rem 10vw;
}
#my-skills h1 {
  font-size: 2rem;
  font-family: "Roboto Slab", serif;
  text-align: center;
}
#my-skills .skill {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  background-color: #f5f5f5;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#my-skills .skill img {
  background-color: transparent;
}
#my-skills .skill p {
  font-size: 0.8rem;
  padding-top: 0.5rem;
  text-align: center;
}
#my-skills .skill:hover {
  background-color: #ffc86a;
}

#skills {
  margin-top: 0.7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 1.5rem;
}

#portfolio {
  padding: 0 10vw;
}
#portfolio h1 {
  font-size: 2rem;
  font-family: "Roboto Slab", serif;
  text-align: center;
}
#portfolio #projects {
  margin: 1rem 0;
}
#portfolio #projects .project {
  display: flex;
  margin-top: 1rem;
  gap: 10px;
  padding: 0;
}
#portfolio #projects .project img {
  height: 40vh;
  padding: 0;
}
#portfolio #projects .project .description {
  flex-grow: 1;
}
#portfolio #projects .project .description h3 {
  font-size: 1.2rem;
}
#portfolio #projects .project .description p {
  font-size: 0.95rem;
  margin-top: 0.5rem;
}
#portfolio #projects .project .description hr {
  width: 12rem;
  border: none;
  margin: 0.7rem 0;
  border-top: 0.2rem solid #ffc86a;
}
#portfolio #projects .project .description a {
  padding: 0;
  font-weight: bold;
  color: #1b45dc;
  margin-right: 0.5rem;
}
#portfolio #projects .project .description .fa-link {
  color: #1b45dc;
}

@media only screen and (max-width: 750px) {
  /* CSS Rules */
  * {
    padding: 0 0.5rem;
  }
  #portfolio #projects .project {
    flex-direction: column;
    gap: 30px;
  }
  #portfolio #projects .project img {
    height: 30vh;
  }
}
#experience {
  margin: 6rem 0;
  padding-bottom: 2rem;
  background-color: #fff3e0;
}
#experience h1 {
  font-size: 2rem;
  font-family: "Roboto Slab", serif;
  padding: 2rem 10vw;
}
#experience .job {
  background-color: #fff3e0;
}
#experience .job .position {
  display: flex;
  justify-content: space-between;
  background-color: inherit;
}
#experience .job .job-description {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: rgb(68, 68, 69);
}

.job-section {
  background-color: #fff3e0;
  padding: 0 10vw;
  display: flex;
  justify-content: center;
}

.ex-style {
  background-color: #fff3e0;
  padding: 0.5rem 0.5rem 0 0;
}
.ex-style .circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #ffc86a;
}
.ex-style .vertical-line {
  width: 2px;
  height: 90%;
  background-color: #ffc86a;
  margin: 0.2rem auto;
}

#contact h2 {
  overflow: hidden;
  text-align: center;
  font-size: 2rem;
  font-family: "Roboto Slab", serif;
}
#contact h2:before,
#contact h2:after {
  background-color: #ffc86a;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
#contact h2:before {
  right: 0.5em;
  margin-left: -50%;
}
#contact h2:after {
  left: 0.5em;
  margin-right: -50%;
}
#contact .contacts {
  padding: 2rem 10vw;
  display: flex;
  margin: 1rem 0;
  justify-content: space-around;
  gap: 10px;
}
#contact .contacts .container {
  height: 8vh;
  width: 30vw;
  background-color: #f5f5f5;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
#contact .contacts .container .fa-envelope {
  font-size: 1rem;
}

@media only screen and (max-width: 800px) {
  #contact .contacts {
    flex-direction: column;
  }
  #contact .contacts .container {
    width: 100%;
    align-items: center;
  }
}
* {
  background-color: #fff;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}
body p,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body span {
  background-color: transparent;
}
body a {
  text-decoration: none;
  background-color: transparent;
}
body a:link {
  color: inherit;
}
body a:visited {
  color: inherit;
}
body hr {
  border: none;
  border-top: 1px solid #ffc86a;
}

footer {
  height: 8vh;
  width: 100%;
  background-color: #fff3e0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.85rem;
}/*# sourceMappingURL=styles.css.map */